body {
    font-family: 'Istok Web', sans- serif;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    background-color: skyblue;
}

header {
    background-color: #0193B2;
    padding: 10px;
    height: 120px;
}


header img {
    float: left;
    max-width: 120px;
    margin-right: 20px;
}


header h1 {
    font-family: 'Philosopher', sans-serif;
    margin-bottom: 0;
    padding-top: 30px;
    color: #80E8FF;
    margin-top: 0%;
}

header .subheading {
    color: #80E8FF;
}

main figure {
    max-width: 90%;
}

/* Nav CSS*/

nav {
    background: #FF7700;
    clear: left;
    font-family: 'Rubik', sans-serif;

}

nav ul {
    list-style-type: none;

    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #FF7700;
    height: 0;


}


nav li {
    border: 1px solid #fff;

}


nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 10px;
    display: flex;

}


nav ul li.active a {
    background-color: #80E8FF;
    font-weight: bold;

}

nav ul li a:hover {
    background-color: #80E8FF;
    color: #4d004d;

}



.burger-nav {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
    background: #FF7700 url("burger.png") no-repeat 98% center;
    cursor: pointer;
    padding: 0;

}


nav ul.open {
    height: auto;
    padding-left: 0;
}


/* Header CSS*/

h2 {
    color: #FF7700;
}

.headerPic {
    max-width: 100%;
}

main {
    font-family: 'Istok Web', sans-serif;
}

h2 {
    text-align: center;
    color: #FF7700;
}


/* Home Page CSS*/

.imgsection img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 30px;

}

.imgsection p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px solid #b0b4ba;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 40px;
    padding: 2px;
    margin-top: 20px;

}

.eventssection img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    border: solid 1px;
    padding: 40px;
    margin: 10px;
}

.firstcol {
    padding-left: 10px;
}

. .secondcol {
    . text-align: center;
}

th {
    text-align: center;
}

td,
th {
    border: 1px solid #b0b4ba;
    text-align: center;
    padding: .5em;

}




/* Events CSS*/

.eventssection {

    display: grid;
    grid-auto-columns: (2, 1fr);
    align-content: center;
    justify-content: center;

}

#continental {
    border: solid 2px #FF7700;
    padding: 2px;
    margin: 10px;
    max-width: 100%;


}


#continental p {
    padding: 10px;

}

#continental h3 {
    text-align: center;
    color: #0193B2;

}

table tr:nth-child(1) {
    background-color: #0193B2;
}


#escape {
    border: solid 2px #FF7700;
    padding: 2px;
    margin: 10px;
    max-width: 100%;

}

#escape h3 {
    text-align: center;
    color: #0193B2;

}


#escape p {
    padding: 10px;
}


/* Shop CSS*/

#accordion {
    display: grid;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    margin: 5px;

}

#accordion h3 {
    background-color: #80E8FF;
    font-family: 'Philosopher', sans-serif;
}


#accordion.open {
    border-color: #0193B2;
}


/* Service Page CSS*/

#servicetable th {

    background-color: #0193B2;
    color: white;
    font-family: 'Philosopher', sans-serif;

}


#servicetable tr:nth-child(1),
tr:nth-child(3),
tr:nth-child(5),
tr:nth-child(7) {

    background-color: #95d6e5;

}


#servicetable tfoot td {

    background-color: #0193B2;
    color: white;
    font-family: 'Philosopher', sans-serif;

}


/* Contact Page CSS*/

#address iframe {
    max-width: 95%;
}


/* Contact Page CSS*/

.address {
    display: grid;
    align-content: center;
    justify-content: center;

}

.address p {
    text-align: left;
    font-family: 'Philosopher', sans-serif;
    border: solid 2px #FF7700;
    max-width: 95%;
    justify-self: center;
    padding: 10px;

}

#videorev {
    display: block;
    margin-left: auto;
    margin-right: auto;

}



/* Footer CSS*/

footer {
    background-color: #0193B2;
    text-align: center;
    color: #80E8FF;
}

aside {
    color: white;
    background-color: #FF7700;
    padding: 1px;
    font-family: 'Philosopher', sans-serif;
}
