/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: serif;
    background-color: azure;
    /* Declare the base font-family - from google font api or other */
}

header,
nav,
main,
footer {
    max-width: 350px;
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    margin: 1.5em auto;
    }

header {
    box-sizing: content-box;
    background-color: azure;
    margin-bottom: 0;
    padding-bottom: 0;
 }

header img {
    width: 100px;
    height: 80px;
    float: left;
    padding: -100px;
    }

header h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 125px;
    margin-right: 10px;
    }

header .subheading {
    font-size: 2rem;
    text-align: center;
    color: white;
}

nav {
    margin-top: -100px;
    background-color: lightblue;
    text-align: center;
    align-content: center;
    width: 100%;
}

nav ul {
    display: inline-block;
    font-size: 12px;
    margin: ;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #555;
    text-decoration: none;
}

nav ul li {
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #555;
}

nav ul li a {
    display: inline-block;
    color: #000;
    padding: 0px 0px 0px 0px ;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #0000ff;
    color: greenyellow;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

main {
    background-color: azure;
}

main h2 {
    font-family: serif;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

main h3{
    text-align: center
}
main figure {
    margin: 0 0 .2rem 2%;
    width: auto;
    }

main figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: azure;
    }

main ul {
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    background-color: azure;
    width: 100%;
}

section {
    display: none;
    font-size: 10px;
    background-color: azure;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section picture img {
    float: right;
    margin-right: 35%;
    margin-left: -45%;
    margin-top: -5%;
}

section table {
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: azure;
}

article {
    width: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

article h3 {
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

article p.town-article {
    background-color: white;
    font-size: 1rem;
    text-align: center;
}

article p.town-article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    max-width: 100%;
    /* fill the page in the small/phone view */
    height: auto;
    float: none;
    margin: 15px 20px 15px 20px;
    padding: 0.2px;
}

footer {
    background-color: aliceblue;
    color: black;
}

footer aside {
    text-align: center;
    font-size: 1rem;
}

footer > p {
    text-align: center;
    font-size: 0.8rem;
}

/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
