@media only screen and (min-width: 400px) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    /* responsive images */
    nav {
        margin-top: 0;
        margin-bottom: 0;
        background-color: azure
        
    }

    nav ul li {
        display: inline-block;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid #555;
    }
    header,
    nav,
    main,
    footer {
        display: block;
        max-width: 800px;
    }

    header img {
        width: auto;
        height: 150px;
        float: left;
        padding: -100px;
    }

    header h1 {
        text-align: center;
        font-family: sans-serif;
        font-size: 60px;
        margin-left: 125px;
        margin-right: 10px;
        background-color: azure
    }
    main figure img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 80%;
        background-color: azure;
    }

    main ul {
        font-size: 24px;
        text-align: center;
        background-color: azure;
        width: 100%;
    }

    section {
        display: block;
        font-size: 14px;
        background-color: azure;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}
