/* small phone view */

* {
    box-sizing: border-box;
}

/*---------BODY----------*/

body {
    background-color: azure;
    font-family: verdana;
}

/*----------HEADER----------*/

header {
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: center;
    background-color: deepskyblue;
}

a.logoimage {
    width: 3em;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    align-items: center;
    margin: 0;
    font-size: 18px;
    font-family: verdana;
}

header .subheading {
    font-size: 14px;
}

nav,
main,
footer {
    max-width: 100%;
    padding: 1rem;
    margin: auto;
    align-content: center;
    background-color: azure;
}

nav {}


nav button {
    padding: 5px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    flex-flow: wrap;
    background-color: #80bfff;
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}
nav ul.hide { display:none;}
nav ul li {
    text-align: center;
}

nav ul li a {
    color: #ffffff;
    padding: .5rem 1rem;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #1761a0;
    color: white;
}

nav ul li a:hover {
    background-color: #f0a418;
    color: white;
}

main h2 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    color: #1761a0;
    text-align: center;
}

main h3 {
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    color: #1761a0;
    text-align: center;
}

footer {
    color: #ffffff;
    text-align: center;
    clear: both;
}

footer aside {
    font-family: 'Pompiere', cursive;
    font-size: 1.25rem;
}

footer > p {
    font-size: 1rem;
}

nav button {
   align-self: flex-start;
}

.container {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    padding: 10px;

}

article.weatherStoryText {
    width: 400px;
}

section.cityInfo img {
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px;

}

.weatherStoryPic {
    max-width: 400px;
    max-height: 321px;
}