@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header,
    nav,
    main,
    footer {
        max-width: 80%;
    }

    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        display: flex;
    }

    .weatherStoryContainer {
        max-width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

    .weatherStoryPic {
        margin-left: 15px;
        max-width: 40%;
        max-height: 321px;
        align-self: center
    }

    .weatherStoryText{
        width: 20em;

    }

    .cityInfo {
        display: flex;
        flex-direction: row-reverse;
        margin: auto;
        align-content: stretch;
    }

    .cityInfo div {
        flex: 1 1 auto;
        padding: 20px;
        margin: 20px 0px 20px 20px;
        border: double black;
    }

    #city2 {
        flex-direction: row;
    }

    .cityInfo div.greenville {
        margin: 20px 20px 20px 0px;
    }
}