{ margin: center; box-sizing: border-box;} 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: white;
}

h1 {
    font-size: 2rem;
        color: black;
    text-align: center;
}

h2 {
    font-size: 1rem;
    color: blue;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

li {
    font-size: 1rem;
    color: blue;
    text-align: center;
}

header, main, footer {
    margin: .1rem;
    padding: .3rem;
    max-width: 800px;
    max-height: 400px;
    align-content: center;
}

header, footer, footer a {
    text-align: center;
    background-color: lightblue;
    color: black;
}

header img {
    width: 256px;
    height:255px;
    float: right;
}

footer {
    font-size:smaller;
}